* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    font-family: 'Helvetica', sans-serif;
    padding: 0;
    margin: 0;
    color: #231c1c;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container div {
    text-align: center;
    width: 100%;
}

.btn,
a.btn:any-link {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border: 1px solid #555;
    color: #7b5f5f;
    font-weight: 600;
}

.btn.btn-primary,
a.btn.btn-primary {
    background-color: #FFBE51;
    border-color: #FFBE51;
    color: #fff;
}

.align-row {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 80px;
}

.servicos {
    background-color: #fff;
    text-align: center;
    width: 100%;
}

.servicos div h3 {
    color: #9F261F;
    font-size: xx-large;
    font-weight: bold;
}

.servicos div.content {
    text-align: center;
}

div.content div.info h3:first-child {
    color: #F6905D;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

div.content div.info h3 {
    color: #F27133;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    padding: 0px;
}

.content .info div {
    text-align: center;
}

.content .info div.story {
    /* max-width: 360px; */
    margin: auto;
    color: #000000;
    margin-bottom: 0px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content .info .story p {
    color: #000000;
    text-align: left;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.content .info .story table {
    width: 70%;
}

.content .info .wild {
    max-width: 600px;
    margin: auto;
    color: #000000;
}

.content .info .wild p {
    color: #000000;
    text-align: left
}

.readmore {
    text-align: center;
    margin: auto;
    margin-top: 36px;
    margin-bottom: 10px;
    width: 150px;
    height: 40px;
}

.button {
    position: relative;
    background-color: #b4bfd2;
    font-size: 14px;
    padding: 8px 16px;
    margin: 4px 2px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border: none;
}

.button2 {
    position: relative;
    background-color: #f19b8d;
    font-size: 14px;
    padding: 8px 16px;
    margin-bottom: 10px;
    text-align: center;
    border: none;
    cursor: pointer;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a:any-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #C4918F;
    display: inline-block;
    padding: 10px;
}

h4 {
    margin-bottom: 5px
}

.banner {
    background-color: #FDCC64;
}

.banner div {
    text-align: center;
    width: 100%;
}

div.banner p {
    width: 500px;
    max-width: 100%;
    font-size: 40px;
}

div.banner img {
    max-width: 100%;
}


div.content {
    display: flex;
}

#myTable {
    color: #082c6c;
}


div.content .info {
    padding: 0px;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    overflow: auto;
}

div.content .logo-icon img {
    width: 50px;
}

div.content a:any-link,
div.content p {
    color: hwb(0 0% 100%);
}

div.content .mapa {
    padding: 0px;
    background-color: #FAF2EA;
    width: 100%;
    height: auto;
    overflow: auto;
}

.mapa h3 {
    color: #219A94;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

.mapa div {
    text-align: center;
}

.mapa {
    display: flex;
    flex-direction: column;
}

.mapa .since {
    margin: auto;
    color: rgb(0, 0, 0);
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.mapa .since .row {
    display: flex;
}

.mapa .since p {
    color: #000000;
    text-align: left;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.mapa .since div header {
    text-align: center;
}


.mapa .since .psych {
    margin-left: 200px;
}

.mapa .since .kessler {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mapa .issues {
    max-width: 700px;
    margin: auto;
    color: #000000;
}

.mapa .issues p {
    color: #000000;
    text-align: left;
}

.mapa .report p {
    color: #082c6c;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.mapa .issues .report p {
text-align: center;
}


.mapa .readmore {
    margin: auto;
    width: 200px;
    height: 40px;
}


.hope {
    padding: 0px 200px;
    background-color: #f2eafa;
    width: 100%;
    height: auto;
    overflow: auto;
    }

.hope h3 {
    color: #ffffff;
    font-size: xx-large;
    font-weight: bold;
    text-align: left;
    font-style: italic;
    }

.hope p {
    color: #000000;
    text-align: left;
}

.flex {
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow: auto; 
    margin-right: auto;
    margin-left: auto;
    width: 70%;
}

.flex div:first-child {
    margin-right: 5px;
}

canvas {
    width: 400px;
    height: 400px;
    }

.footer {
    background-color: #ffff;
    margin-top: 30px;
    text-align: center;
    font-size: 13px;
    word-spacing: 2px;
}

.footer div {
    text-align: center;
}

.footer hr {
    height: 1px;
    border: none;
    border-top: 1px solid black;
    width: 70%;
}

.box {
    width: 700px;
    height: 150px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 10px 10px 0px #FFA500;
    border: 1px solid #000;
    padding: 20px;
}

/* width */
.flex::-webkit-scrollbar {
    width: 15px;
    height: 2px;
  }
  
  /* Track */
 .flex::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .flex::-webkit-scrollbar-thumb {
    background: #082c6c; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .flex::-webkit-scrollbar-thumb:hover {
    background: #082c6c; 
  }

#bangladeshi-workers, #financial-barriers {
    cursor: pointer;
}

#knat, #kbar {
    display: block;
    margin: 0 auto;
    width: 400px;
    max-width: 400px;
    height: 400px;
  }

/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f2eafa;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 50px 100px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
  }

  .slide-img {
    width: 500px; /* change this to your desired width */
    height: 300px; /* change this to your desired height */
    box-shadow: 10px 10px 0px #bbb;
  }

  .link {
    text-align: center;
    font-size: 15px;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .prev {
    left: 10px;
  }

  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 10px;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
      text-align: center;
      padding: 20px;
      background: #faf2ea;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  


