
html, body {
  height:100%;
  width:100%;
  background-color: rgb(255,255,255);
  font-family: 'Poppins', sans-serif;
  color: #1d1d1d;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-left: 150px;
  margin-right: 150px
}

.grid-box {
  background-color: #f2f2f2;
  padding: 30px;
}

.grid-container1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px;
}

.grid-box1 {
  background-color: #f2f2f2;
  padding: 20px;
}

.data-set {
  display: inline-block;
  width: 50%;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}